.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 15px;
  color: white;
  text-decoration-color: none;
  margin-top: 6px;
}
.marginclass{
  margin-left:80px;
}
anchor{
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 120px;
  margin: 42px;
}
sectionclass{
  background-color: 
}

ul {
  text-align: right;
  list-style: none;
  margin-top: -10px;
}

ul li {
  display: inline-block;
  padding-left: 10px;
  color: white;
}

ul li:last-child{
  padding-right: 10px;
}

.cities{
  background-color: white;
  height: 280px;
  padding: 15px;
  color: black;
}
.venuecolor{
  color: white;
  font-size: 56;
}

.venueclass{
  background-color: black;
  height: 800px;
  padding: 80px;
  color: red;

}
.footerclass{
  
  background-color:rgb(2, 2, 27);
 height: 70px;
 color: white

}

.popularserviceclass{
  background-color: rgba(19, 4, 4, 0.925);
  height: 450px;
  padding: 80px;
  color: red;

}

.hallclass{
  background-color: white;
  height: 650px;
  padding: 80px;
  }

.App-title {
  font-size: 1.5em;
}

.sectionclass{
background-color: #0C1123;
}

.App-intro {
  font-size: large;
}
.myClass{
  
    background: wheat;
    
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
